/* ===== Scrollbar CSS ===== */

/* Firefox */

/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #a40000;
  border-radius: 10px;
  border: 5px solid #ffffff;
}

